@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: 'Inter', sans-serif;
}

/* Classe para Funnel Display SemiBold */
.font-funnel {
  font-family: 'Funnel Display', sans-serif;
  font-weight: 600; /* SemiBold */
}